/* print-page*/
@media print {
    .flex-2-col {
        display: flex;
        align-items: center;
    }
    .tm-team-description-container .tm-section-title {
        margin-top: 220px;
        margin-left: 10px; 
    }
    .blocks .tm-team-description-container .tm-section-title {
        margin-top: 0;
    }
    body {
        background: transparent;
        padding-top: 0;
        width: 70%;
        margin: 0 auto;
    }
    section:not(:first-of-type) {
        display: none;
    }
    #about,
    .tm-sidebar {
        display: none;
    }
    .padding-medium,
    .tm-banner {
        padding: 0;
    }
    .tm-banner {
        margin-top: 100px;
    }
    .flex-item>img {
        margin-top: 20px;
        margin-left: 20px;
        width: 300px;
        height: 180px;
    }
    .tm-content-box .tm-team-description-container {
        width: 420px;
    }
    .tm-team-description-container .tm-section-title {
        margin-top: 0;
    }
    p::first-letter {
        color: grey;
        font-size: 30px;
    }
    p:not(.tm-banner-text) {
        line-height: 2em;
        text-indent: 1em;
    }
    h2+p {
        font-style: italic;
    }
    .tm-team-description-container>.tm-section-title {
        color: blue;
    }
}
/* screen version*/
@media screen {
    .box-bg h2:hover {
        background-color: #87CEFA;
        color: white;
    }
    p:not(.text-xs-center):not(.tm-banner-text)::first-letter {
        color: #87CEFA;
        font-size: 30px;
    }
    .tm-sidebar,
    .tm-banner,
    .tm-content-box {
        box-shadow: 0px 0px 10px 5px grey;
    }
    #home .tm-banner {
        background-color: #E8E8E8;
    }
    .tm-banner-inner {
        background-color:white;
    }
    .blocks div:nth-child(2) {
        box-shadow: none;
    }
    .tm-content-box {
        position: relative;
    }
    .tm-team-description-container:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 35px solid #00BFFF;
        border-right: 250px solid transparent;
    }
    .tm-section-title {
        color: #dcdcdc;
        letter-spacing: 5px;
    }
    h2+p {
        font-style: italic;
    }
    p:not(.tm-banner-text) {
        line-height: 1.5em;
        text-indent: 1em;
    }
    .flex-2-col {
        display: flex;
    }
    .tm-team-description-container .tm-section-title {
        margin-top: 230px;
    }
    .blocks .tm-team-description-container .tm-section-title {
        margin-top: 0;
    }
    .padding-medium ol li a {
        color: #000;
    }
    .padding-medium ol li a:visited {
        text-decoration-line: underline;
    }
    .padding-medium ol li a:hover {
        text-decoration-line: underline;
        text-decoration-style: double;
        color: #00BFFF;
    }
    .text {
        position: relative;
    }
    .text::before {
        content: "New";
        position: absolute;
        top: 0;
        right: -20px;
        color: #FF0000;
        font-size: 10px;
    }
    .box:nth-child(even) {
        background-color:#DCDCDC;
    }
    .box-work {
        padding: 10px;
    }
    .submit-btn {
        position: absolute;
        right: 40px;
        bottom: 5px;
        background-color:white;
        border-color: #87CEFA;
        color: #87CEFA;
        height: 45px;
        width: 150px;
    }
    .submit-btn:hover {
        background-color: #87CEFA;
        color: white;
    }
    .contact-form input {
        color: red;
    }
    .mandatory-field::after {
        content: "*";
        color: red;
        font-weight: bold;
    }
    .tm-nav-item:hover {
        background-color:#E8E8E8;
    }
}


