$font-stack: normal 18px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$background-image: url('../img/header_background_v2.jpg');
$border-color: #CFD8DC;
$top-menu-pad: 15px 60px;
$color-nav-h1: #FF5722;
$button-color: #0401AC;
$body-background-color: #EFEFEF;
$article-color: #FFFFFF;
$post-description-color: #BDBDBD;
$article-name-color: #60878B;
$article-img-height: 250px;
$body-text-color: #757575;
$form-text-color: #607D8B;
$toolbar-padding: 7px 7px;
$border-width: thin;
$post-margin-left: 0;
$form-label-color: #607D98;